# macOS system file
.DS_Store

# PyTorch model files
*.pth

# Environment files
*.env

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/
